VITE_SOURCE_MODE=hybrid
VITE_ENABLE_RUNTIME_LIVE_FETCH=true
VITE_YANDEX_MAPS_API_KEY=
VITE_051_URL=https://051.novo-sibirsk.ru/SitePages/off.aspx
VITE_OPENDATA_BASE_URL=https://opendata.novo-sibirsk.ru
VITE_051_PROXY_URL=
VITE_OPENDATA_PROXY_URL=
