VITE_SOURCE_MODE=hybrid
VITE_ENABLE_RUNTIME_LIVE_FETCH=true
VITE_YANDEX_MAPS_API_KEY=
VITE_051_PORTAL_URL=https://map.novo-sibirsk.ru/portal/disconnections?t=
VITE_OPENDATA_BASE_URL=https://opendata.novo-sibirsk.ru
VITE_OPENDATA_PROXY_URL=
SIGMA_SNAPSHOT_SYNC_INTERVAL_MS=3600000
